.cpm-form{
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  padding: 10px;
  font-family: @font-roboto;
  &__input-container{
    margin-top: 10px;
  }
  &__text-input{
    margin-left: 10px;
  }
  &__button{
    margin-top: 10px;
  }
}